src/Server/Certificates/
*cert.pem
*key.pem
*database.db
*__pycache__*
.vscode
test.*
/Client/Client_C/client.elf
.vscode
*pyc
.pytest_cache
venv*
build*/
bin/
server.log
server.log1
PrometheanProxy.spec
.nicegui
*.so
*.dll
src/Server/Plugins/*/debug/*
src/Server/Plugins/*/release/*
