src/Server/Certificates/
*cert.pem
*key.pem
*database.db
*__pycache__*
.vscode
test.*
/Client/Client_C/client.elf
.vscode
*pyc
.pytest_cache
venv*
build*/
bin/
server.log
server.log.1
PrometheanProxy.spec
.nicegui
*.so
*.dll
src/Server/Plugins/*/debug/*
src/Server/Plugins/*/release/*

# Web Interface
web/.env
web/db.sqlite3
web/logs/
web/staticfiles/
web/media/
web/*.pid
web/node_modules/
web/.DS_Store

*.log*